includes:
    - src/PHPStan/extension.neon
parameters:
    strictRules:
        strictCalls: false
        noVariableVariables: false
    parallel:
        maximumNumberOfProcesses: 8
    tmpDir: .phpstan
    paths:
        - src/
        - tests/
    databaseMigrationsPath:
        - src/migrations/
    editorUrl: 'phpstorm://open?file=%%file%%&line=%%line%%'
    level: 6
    bootstrapFiles:
        - classAliases.php
    excludePaths:
        - ./src/migrations/*.php

